@model Company

<div class="card shadow rounded-4 border-dark position-relative mt-5" style="width: 80%; justify-self: center;">
    <div
        class="position-absolute start-50 bg-danger text-white border border-dark rounded px-4 py-2"
        style="transform: translate(-50%, -50%);">
        <h3 class="mb-0 fs-6 fw-normal">Delete Company</h3>
    </div>

    <div class="card-body text-center mt-4">
        <form method="post" class="row g-3">
            <input asp-for="Id" hidden/>

            <div class="row g-3 col-12">
                <div class="form-floating col-md-6">
                    <input asp-for="Name" disabled class="form-control shadow"/>
                    <label asp-for="Name">Company Name</label>
                </div>

                <div class="form-floating col-md-6">
                    <input asp-for="PhoneNumber" disabled class="form-control shadow"/>
                    <label asp-for="PhoneNumber">Phone Number</label>
                </div>
            </div>

            <div class="row g-3 col-12">
                <div class="form-floating col-md-6">
                    <textarea asp-for="City" disabled class="form-control shadow"></textarea>
                    <label asp-for="City">City</label>
                </div>

                <div class="form-floating col-md-6">
                    <input asp-for="StreetAddress" disabled class="form-control shadow"/>
                    <label asp-for="StreetAddress">Street Address</label>
                </div>
            </div>

            <div class="row g-3 col-12">
                <div class="form-floating col-md-6">
                    <input asp-for="ZipCode" disabled class="form-control shadow"/>
                    <label asp-for="ZipCode">Postal Code</label>
                </div>
            </div>

            <div class="row g-3 mt-3">
                <div class="col-12 col-md-6">
                    <button type="submit" class="btn btn-danger w-100">Delete</button>
                </div>
                <div class="col-12 col-md-6">
                    <a asp-controller="Company" asp-action="Index"
                       class="btn btn-outline-primary w-100">Back to list</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}