@model Company

<div class="card shadow rounded-4 border-dark position-relative mt-5" style="width: 80%; justify-self: center;">
    <div
        class="position-absolute start-50 bg-primary-subtle text-dark border border-dark rounded px-4 py-2"
        style="transform: translate(-50%, -50%);">
        <h3 class="mb-0 fs-6 fw-normal">@(Model.Id != 0 ? "Update" : "Create") Company</h3>
    </div>

    <div class="card-body text-center mt-4">
        <form method="post" class="row g-3">
            <input asp-for="Id" hidden/>

            <div class="row g-3 col-12">
                <div class="form-floating col-md-6">
                    <input asp-for="Name" class="form-control shadow"/>
                    <label asp-for="Name">Company Name</label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-floating col-md-6">
                    <input asp-for="PhoneNumber" class="form-control shadow"/>
                    <label asp-for="PhoneNumber">Phone Number</label>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="row g-3 col-12">
                <div class="form-floating col-md-6">
                    <input asp-for="City" class="form-control shadow"></input>
                    <label asp-for="City">City</label>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="form-floating col-md-6">
                    <input asp-for="StreetAddress" class="form-control shadow"></input>
                    <label asp-for="StreetAddress">Street Address</label>
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>
            </div>

            <div class="row g-3 col-12">
                <div class="form-floating col-md-6">
                    <input asp-for="State" class="form-control shadow"/>
                    <label asp-for="State">State</label>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>

                <div class="form-floating col-md-6">
                    <input asp-for="ZipCode" class="form-control shadow"/>
                    <label asp-for="ZipCode">Postal Code</label>
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
            </div>

            <div class="row g-3 mt-3">
                <div class="col-12 col-md-6">
                    @if (Model.Id != 0)
                    {
                        <button type="submit" class="btn btn-dark w-100">Update</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-dark w-100">Create</button>
                    }
                </div>
                <div class="col-12 col-md-6">
                    <a asp-controller="Company" asp-action="Index"
                       class="btn btn-outline-primary w-100">Back to list</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}